#languages
  = link_to(image_tag("flags/es.gif", :alt => t("languages.spanish")), locale: 'es')
  = link_to(image_tag("flags/gb.gif", :alt => t("languages.english_uk")), locale: 'en')
  = link_to(image_tag("flags/jp.gif", :alt => t("languages.japanese")), locale: 'jp')